.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.image-style {
  width: 40px;
  height: 40px;
}

.weather-block:hover{
  background-color: #09d3ac;
}

.Main-block {
  margin-top:40px;
}

.pointer {
  cursor: pointer;
}

.trash-style:hover {
  color:red;
}

.margin-left30px{
  margin-left: 30px;
}

.header-style{
  text-align: left;
}

.plus-icon:hover{
  color: green;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}


.header-block{
  margin-top:10px;
  margin-bottom: 10px ;
}
